<div class="row justify-content-center m-3">
    <div class="col-4 p-3 bg-dark-subtle rounded">
        <h1>Add</h1>
        <p>New product</p>
        <hr>

        <form action="/admin/product" method="POST" enctype="multipart/form-data" id="addProductForm">
            <div class="mb-3">
                <label class="form-label text-dark" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name" />
                <span class="text-danger label-error invisible" id="nameError">Error</span>
            </div>

            <div class="mb-3">
                <label class="form-label text-dark" for="price">Price</label>
                <input class="form-control" type="number" id="price" name="price" />
                <span class="text-danger label-error invisible" id="priceError">Error</span>
            </div>

            <div class="mb-3">
                <label class="form-label text-dark" for="description">Description</label>
                <textarea class="form-control" id="description" name="description"></textarea>
                <span class="text-danger label-error invisible" id="descriptionError">Error</span>
            </div>

            <label class="form-label text-dark" for="image">Image</label>
            <input class="form-control" type="file" id="image" name="image">

            <button class="btn btn-primary float-end w-25 mt-3" type="submit">Submit</button>
        </form>
    </div>
</div>