<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">Expressjs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link <%= path === '/' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Management
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item <%= path.includes('/admin/user') ? 'active' : '' %>"
                                href="/admin/user">User</a></li>
                        <li><a class="dropdown-item <%= path.includes('/admin/product') ? 'active' : '' %>"
                                href="/admin/product">Product</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>