<section class="mt-3">
    <h3>Product details</h3>
    <hr>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/public/images/<%= product.imageUrl %>" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title"><%= product.name %></h1>
                    <h3>Price: <small class="text-success "><%= product.price %>$</small></h3>
                    <p class="card-text">Description: <%= product.description %></p>
                    <div class="d-flex align-items-center">
                        <label for="quantity">Quantity</label>
                        <button class="btn btn-outline-secondary ms-3"><i class="fa-solid fa-plus"></i></button>
                        <input class="form-control w-25 mx-3" type="number" id="quantity" value="1" disabled>
                        <button class="btn btn-outline-secondary"><i class="fa-solid fa-minus"></i></button>
                    </div>
                    <div class="mt-5">
                        <button class="btn btn-primary"><i class="fa-solid fa-cart-plus me-2"></i> 
                            Add to cart</button>
                        <a href="/" class="btn btn-danger">Back to homepage</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>